  <div class="container">
    <div class="row justify-content-center">
      <!-- Apply the *ngFor to the card's container, essentially a for loop that for every local var
       hero in heroes array, we let i = index which creates a copy of div element and its contents,
       sets the hero variable variable to current array item like batman or supderman, then sets the i
       variable to the current index, 0 , 1, 2 etc. and renders this copy w appropriate data! -->
      <div class="col-md-4 mb-4" *ngFor="let hero of heroes; let i = index">
        <div class="card" style="width: 16rem;">
          <!-- Hero image - to get is is done as hero.image in src... instead of placeholder -->
          <img class="card-img-top" [src]="hero.image" alt="{{ hero.name }}">
          
          <div class="card-body">
            <!-- Hero name as card title -->
            <h5 class="card-title">{{ hero.name }}</h5>
            <!-- Hero description as card text -->
            <p class="card-text">{{ hero.description }}</p>
          </div>
          
          <ul class="list-group list-group-flush">
            <!-- Hero properties as list items -->
            <li class="list-group-item">Year: {{ hero.dateOfAppearance }}</li>
            <li class="list-group-item">Publisher: {{ hero.publisher }}</li>
          </ul>
          
          <div class="card-body">
            <!-- Links for additional actions -->
            <a [routerLink]="['/heroe', i]" class="card-link">View Details</a>
            <a href="#" class="card-link">Hero Wiki</a>
          </div>
        </div>
      </div>
    </div>
  </div>
